<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--  你好,<span th:text="${name}"></span>-->

<!--    &lt;!&ndash; th:指令依赖于h5&ndash;&gt;-->
<!--    你好:<span th:text="${stu.Code}"></span>-->
<!--    &lt;!&ndash;  data-th-text 指令支持非 h5&ndash;&gt;-->
<!--    密码是:<span data-th-text="${stu.pass}"></span>-->
<!--    &lt;!&ndash;对象['属性值'] 如果变量是动态的，可以用此属性&ndash;&gt;-->
<!--    您的年龄是:<span th:text="${stu['age']}"></span>-->
<!--    &lt;!&ndash;对象的value中有html需要渲染的使用 utext 输出&ndash;&gt;-->
<!--    您喜欢的颜色是:<span th:utext="${stu.likeColor}"></span>-->

<!--    <div th:object="${stu}">-->
<!--        <span th:text="*{code}"></span></br>-->
<!--        <span th:text="*{pass}"></span></br>-->
<!--        <span th:text="*{age}"></span></br>-->
<!--        <span th:utext="*{likeColor}"></span></br>-->
<!--    </div>-->

<!--    &lt;!&ndash;截取&ndash;&gt;-->
<!--    <span th:text="${stu.Code.substring(2)}"></span><br>-->
<!--    &lt;!&ndash;分割&ndash;&gt;-->
<!--    <span th:text="${stu.code.split('')[1]}"></span><br>-->

<!--    &lt;!&ndash;字符串字面值&ndash;&gt;-->
<!--    <span th:text="'gzf'"></span><br>-->

<!--    &lt;!&ndash;数字字面值&ndash;&gt;-->
<!--    <span th:text="1024*3"></span><br>-->

<!--    &lt;!&ndash;布尔字面值&ndash;&gt;-->
<!--    <span th:if="${stu.age} >= 18">成年</span><br>-->

<!--    &lt;!&ndash;拼接&ndash;&gt;-->
<!--    <span th:text="'你好' + ${stu.code} + '真的666'"></span><br>-->

<!--    <span th:text="|牛重阳${stu.code}大傻逼|"></span><br>-->

<!--    &lt;!&ndash;算术运算&ndash;&gt;-->
<!--    <span th:text="${stu.age}*2"></span><br>-->

<!--    &lt;!&ndash;比较运算&ndash;&gt;-->
<!--    <span th:text="${stu.age} gt 10"></span><br>-->

<!--    &lt;!&ndash;三元运算&ndash;&gt;-->
<!--    <span th:text="${stu.age} >=18 ? '成年' : '不成年'"></span><br>-->

<!--    <span th:text="${stu.code} ?: ''"></span><br>-->


    <!--循环-->
    <!--逻辑判断-->
    <!--分支控制switch-->
    <u1>
        <li>下标--编码--密码--年龄--if,unless--资历</li>
        <li th:each="stu , stat: ${stuList}">
            <span th:text="${stat.index}"></span>--
            <span th:text="${stu.code}"></span>--
            <span th:text="${stu.pass}"></span>--
            <span th:text="${stu.age}"></span>
            <span th:if="${stu.age > 60}">可以退休</span>.
            <span th:unless="${stu.age > 60}">不能退休</span>--
            <span th:switch="${stu.code}">
                <span th:case="'001'">1号员工.骨灰级</span>
                <span th:case="'002'">2号员工.元老级</span>
                <span th:case="'003'">3号员工.老员工</span>
                <span th:case="'004'">4号员工.新员工</span>
                <span th:case="*">临时工</span>
            </span>
        </li>
    </u1><br>

<!--电脑支架  真难用-->
    <!--js模板-->
    <script th:inline="javascript">
        //预处理js值
        const stuList = /*[[${stuList}]]*/;
        const stu = /*[[${stuList[0]}]]*/;
        const age = /*[[${stuList[0].age}]]*/;

        console.log("集合: "+stuList);
        console.log("对象: "+stu);
        console.log("属性: "+age);

        stuList.forEach(stu => {
            console.log(stu.code + " " + stu.pass);
        })
    </script>

</body>
</html>